form{
	margin-top: 100px;
}
h1{
	color: green;
}
input,select{
	width: 300px;
	padding: 10px;
	margin-top: 10px;
	outline: none;
}
.r{
	width: 100px;
	padding: 0;
}
.button{
	border: none;
	background-color: lightgreen;
}